<h1>Catalog of vino</h1>

{{#if sorts.length}}
{{#each sorts}}
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-image">
        <img src="{{img}}" alt="{{title}}">
      </div>
      <div class="card-content">
        <span class="card-title">{{title}}</span>
        <p class="price">{{price}}</p>
      </div>
      <div class="card-action actions">
        <a href="/catalog/{{id}}" target='_blank'>Open card</a>
        <a href="/catalog/{{id}}/edit?allow=true">Edit</a>
        <form action="/card/add" method="POST">
          <input type="hidden" name="id" value="{{id}}">
          <button type="submit" class="btn btn-primary">Add to basket</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{else}}
<p>Empty</p>
{{/if}}