<h1>Edit {{ sort.title }}</h1>

<form action="/catalog/edit" method="POST" class="catalog-form">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" value="{{ sort.title }}" required>
    <label for="title">Sort of vine</label>
    <span class="helper-text" data-error="Enter name"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" value="{{ sort.price }}" required min='1'>
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" value="{{ sort.img }}" required>
    <label for="img">URL of image</label>
    <span class="helper-text" data-error="Enter URL"></span>
  </div>

  <input type="hidden" name="id" value="{{ sort.id }}">

  <button type="submit" class="btn btn-primary">Edit sort</button>
</form>

<form action="/catalog/remove" method="POST">
  <input type="hidden" name="id" value="{{ sort.id }}">
  <button class="btn red">Delete</button>
</form>